/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/* @font-face {
	font-family: 'BadSignal';
	src: url('../public/fonts/BadSignal.otf');
	font-display: swap;
  
} */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
/* html{
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
} */
/* body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #e3e3e3;
  font-size: 1.6rem;
  
} */


.draggable {
  -webkit-app-region: drag;
  user-select: none;
}

/* .no_drag {
  -webkit-app-region: no-drag;
} */

/* .hide {
  display: none;
} */

/* .main {
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

.windowCtr {
  display: flex;
  background: #383838;
  color: white;
  padding: 2px;
}

span.appName {
  flex: 1 1;
}

span.closeW {
  width: 22px;
  font-weight: bold;
  text-align: center;
}

span.minW {
  width: 22px;
  font-weight: bold;
  text-align: center;
}

/* .top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 120px;
} */

.left {
  flex: 1 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.graphics img {
  border-radius: 100%;
  box-shadow: 0 0 3px 0 hsla(0, 0%, 46.7%, .72);
  height: 60vh;
  width: 60vh;
  user-select: none;
  -webkit-user-drag: none;
}

.graphics {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

/* header h3 {
  font-weight: bold;
  margin: 0;
  padding: 1rem;
  background: #4AA9DE;
  color:white;
} */

.actions {
  background: #3a3a3a;
  color:white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions button {
  background: none;
  border: none;
  color: white;
  -webkit-user-select: none;
  user-select: none;
  width: 32px;
  height: 22px;
  cursor: pointer;
  margin: 0 1rem ;
}
.action_btns{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: center;
}
.album_meta{
  padding-left: 15px;
}
.alb_label{
  font-size: 0.8em;
}
/* .playlist {
  background: #e3e3e3;
  flex: 1 1;
  display: flex;
  flex-direction: column;
} */

/* .selected {
  background: white;
} */

/* .playlist .header {
  
} */

/* .songContainer {
  cursor: pointer;
  user-select: none;
} */

/* .pltext {
  padding: 5px;
} */

/* .loi {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 0;
} */

/* .loi li {
  margin: 2px;
  font-weight: 450;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loi li:hover{
  background-color: #dfdfdf;
} */
/* .tmbn_song {
  height: 4.5rem;
  width: 4.5rem;
  position: relative;
}
.tmbn_song .song-artwork {
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}
.tmbn_song .song-artwork .test-play-btn {
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;

} */
/* .tmbn_song {
  height: 65px;
  width: 65px;
  background:url('https://freemusicarchive.org/image?file=images%2Falbums%2FSkidmore_College_Orchestra_-_Mussorgskys_Pictures_at_an_Exhibition_-_2009113013701972.jpg&width=290&height=290&type=image');
  background-size: contain;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .songmeta_playlist{
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
.songlist {
  overflow-y: auto;
}
/* .songmeta{
  display: flex;
  flex-direction: column;
  flex: 1 1;

} */
/* .songname {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.songauthors {
  padding: 0 1rem;
  font-weight: normal;
  color: #555;
  font-size: 0.875rem;
} */
.song_duration{
  color:#555;
}
/* .fav_song{
  color: red;
  margin-right: 5px;
} */

/* .controls {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background: #3a3a3a;
  color: white;
  align-items: center;
  width: 100vw;
  padding: 1rem 0.5rem;
}
.controls .upper-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.controls .lower-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

 
} */

/* .vlme {
  display: flex;
  align-content: center;
  overflow: hidden;
  width: 40%;
  transition: all 500ms;
} */

/* .vlme:hover {
  width: 40%;
} */

/* .volum {
  padding: 1rem;
  font-size: 2rem;
}

#volBar {
  padding: 0;
  margin: 0;
  width: 50px;
  background: transparent;
}

#volBar::-moz-range-thumb {
  height: 1rem;
  width: 3px;
  background: #2A6586;
  border-radius: 5px;
  cursor: pointer;
}

.musicControls {
  width: 60%;
  text-align: center;
} */

/* .musicControls span {
  cursor: pointer;
} */
/* 
.musicControls span:hover {
  color: #2A6586;
} */

/* .play {
  background: #4AA9DE;
  padding: 15px 18px;
  border-radius: 100%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 3;
} */

/* .play:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.play:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
} */

/* .prev {
  background: #4aa9de;
  border-radius: 1rem 0 0px 1rem;
  padding-left: 15px;
  padding-right: 1rem;
  margin-right: -5px;
  z-index: 1;
} */

/* .next {
  background: #4aa9de;
  border-radius: 0px 1rem 1rem 0px;
  padding-right: 15px;
  padding-left: 1rem;
  margin-left: -5px;
  z-index: 1;
} */

/* .progressb {
display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
} */
/* .songMeta{
  width: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
} */
/* .songtitle{
  font-size: 1.125em;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.songartistName{
  font-size: 0.8em;
  width: 100%;
  text-align: center;
} */
/* #prgbar {
  background: transparent;
  width: 100%;
} */

/* .plsoptions {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
} */

/* .plsoptions span {
  cursor: pointer;
}

.plsoptions span:hover {
  color: #2A6586;
}

.plsoptions span.active {
  color: rgb(32, 77, 104);
} */

/* .currentT, .totalT {
  width: 35px;
  margin: 0 1rem;
} */